# 作業 : (Kaggle)鐵達尼生存預測
***
https://www.kaggle.com/c/titanic

# [作業目標]
- 試著模仿範例寫法, 在鐵達尼生存預測中, 觀察計數編碼與特徵雜湊的效果

# [作業重點]
- 仿造範例, 完成自己挑選特徵的群聚編碼 (In[2], Out[2])
- 觀察群聚編碼, 搭配邏輯斯回歸, 看看有什麼影響 (In[5], Out[5], In[6], Out[6])

# 作業1
* 試著使用鐵達尼號的例子，創立兩種以上的群聚編碼特徵( mean、median、mode、max、min、count 均可 )

In [15]:
# 做完特徵工程前的所有準備 (與前範例相同)
import pandas as pd
import numpy as np
import copy
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

data_path = 'data/'
df = pd.read_csv(data_path + 'titanic_train.csv')

train_Y = df['Survived']
df = df.drop(['PassengerId', 'Survived'] , axis=1)
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [17]:
# 取一個類別型欄位, 與一個數值型欄位, 做群聚編碼
# PassengerId	Survived	Pclass	Name	Sex	Age	SibSp	Parch	Ticket	Fare	Cabin	Embarked
"""
Your Code Here
"""
# PassengerId對Survived做群聚編碼
# 寫法類似均值編碼, 只是對另一個特徵, 而非目標值
df['Name'] = df['Name'].fillna('None')
mean_df = df.groupby(['Name'])['Pclass'].mean().reset_index()
mode_df = df.groupby(['Name'])['Pclass'].apply(lambda x: x.mode()[0]).reset_index()
median_df = df.groupby(['Name'])['Pclass'].median().reset_index()
max_df = df.groupby(['Name'])['Pclass'].max().reset_index()
temp = pd.merge(mean_df, mode_df, how='left', on=['Name'])
temp = pd.merge(temp, median_df, how='left', on=['Name'])
temp = pd.merge(temp, max_df, how='left', on=['Name'])
temp.columns = ['Pclass', 'Name', 'Sex', 'Age', 'SibSp']
temp

                                              Pclass  Name  Sex  Age  SibSp
0                                Abbing, Mr. Anthony     3    3    3      3
1                        Abbott, Mr. Rossmore Edward     3    3    3      3
2                   Abbott, Mrs. Stanton (Rosa Hunt)     3    3    3      3
3                                Abelson, Mr. Samuel     2    2    2      2
4              Abelson, Mrs. Samuel (Hannah Wizosky)     2    2    2      2
5                     Adahl, Mr. Mauritz Nils Martin     3    3    3      3
6                                    Adams, Mr. John     3    3    3      3
7     Ahlin, Mrs. Johan (Johanna Persdotter Larsson)     3    3    3      3
8                         Aks, Mrs. Sam (Leah Rosen)     3    3    3      3
9                        Albimona, Mr. Nassef Cassem     3    3    3      3
10                            Alexander, Mr. William     3    3    3      3
11                       Alhomaki, Mr. Ilmari Rudolf     3    3    3      3
12                                    Ali, Mr. Ahmed     3    3    3      3
13                                  Ali, Mr. William     3    3    3      3
14                     Allen, Miss. Elisabeth Walton     1    1    1      1
15                          Allen, Mr. William Henry     3    3    3      3
16                    Allison, Master. Hudson Trevor     1    1    1      1
17                      Allison, Miss. Helen Loraine     1    1    1      1
18   Allison, Mrs. Hudson J C (Bessie Waldo Daniels)     1    1    1      1
19                            Allum, Mr. Owen George     3    3    3      3
20   Andersen-Jensen, Miss. Carla Christine Nielsine     3    3    3      3
21                               Anderson, Mr. Harry     1    1    1      1
22           Andersson, Master. Sigvard Harald Elias     3    3    3      3
23                Andersson, Miss. Ebba Iris Alfrida     3    3    3      3
24                 Andersson, Miss. Ellis Anna Maria     3    3    3      3
25                   Andersson, Miss. Erna Alexandra     3    3    3      3
26              Andersson, Miss. Ingeborg Constanzia     3    3    3      3
27                 Andersson, Miss. Sigrid Elisabeth     3    3    3      3
28                       Andersson, Mr. Anders Johan     3    3    3      3
29      Andersson, Mr. August Edvard ("Wennerstrom")     3    3    3      3
..                                               ...   ...  ...  ...    ...
861                 Widegren, Mr. Carl/Charles Peter     3    3    3      3
862                        Widener, Mr. Harry Elkins     1    1    1      1
863                        Wiklund, Mr. Jakob Alfred     3    3    3      3
864                            Wilhelms, Mr. Charles     2    2    2      2
865                               Willey, Mr. Edward     3    3    3      3
866                      Williams, Mr. Charles Duane     1    1    1      1
867                     Williams, Mr. Charles Eugene     2    2    2      2
868                Williams, Mr. Howard Hugh "Harry"     3    3    3      3
869                             Williams, Mr. Leslie     3    3    3      3
870           Williams-Lambert, Mr. Fletcher Fellows     1    1    1      1
871                              Windelov, Mr. Einar     3    3    3      3
872                           Wiseman, Mr. Phillippe     3    3    3      3
873                                Woolner, Mr. Hugh     1    1    1      1
874                               Wright, Mr. George     1    1    1      1
875                              Yasbeck, Mr. Antoni     3    3    3      3
876          Yasbeck, Mrs. Antoni (Selini Alexander)     3    3    3      3
877                         Young, Miss. Marie Grice     1    1    1      1
878                             Youseff, Mr. Gerious     3    3    3      3
879                                Yousif, Mr. Wazli     3    3    3      3
880                            Yousseff, Mr. Gerious     3    3    3      3
881           Yrois, Miss. Henriette ("Mrs Harbeck")     2    2    2      2
882                             Zabour, Miss. Hileni     3    3    3      3
883                            Zabour, Miss. Thamine     3    3    3      3
884                               Zimmerman, Mr. Leo     3    3    3      3
885     de Messemaeker, Mrs. Guillaume Joseph (Emma)     3    3    3      3
886                          de Mulder, Mr. Theodore     3    3    3      3
887                        de Pelsmaeker, Mr. Alfons     3    3    3      3
888                        del Carlo, Mr. Sebastiano     2    2    2      2
889                  van Billiard, Mr. Austin Blyler     3    3    3      3
890                      van Melkebeke, Mr. Philemon     3    3    3      3

[891 rows x 5 columns]

In [18]:
#只取 int64, float64 兩種數值型欄位, 存於 num_features 中
num_features = []
for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'float64' or dtype == 'int64':
        num_features.append(feature)
print(f'{len(num_features)} Numeric Features : {num_features}\n')

# 削減文字型欄位, 只剩數值型欄位
df = df[num_features]
df = df.fillna(-1)
MMEncoder = MinMaxScaler()
df.head()

5 Numeric Features : ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

   Pclass   Age  SibSp  Parch     Fare
0       3  22.0      1      0   7.2500
1       1  38.0      1      0  71.2833
2       3  26.0      0      0   7.9250
3       1  35.0      1      0  53.1000
4       3  35.0      0      0   8.0500

# 作業2
* 將上述的新特徵，合併原有的欄位做生存率預估，結果是否有改善?

In [25]:
# 原始特徵 + 邏輯斯迴歸
"""
Your Code Here
"""
df_minus = df.drop(['Pclass', 'Age', 'Fare'] , axis=1)

# 原始特徵 + 線性迴歸
train_X = MMEncoder.fit_transform(df_minus)
estimator = LogisticRegression()
cross_val_score(estimator, train_X, train_Y, cv=5).mean()

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:323: DataConversionWarning: Data with input dtype int64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.6105531375242174

In [26]:
# 新特徵 + 邏輯斯迴歸
"""
Your Code Here
"""

# 新特徵 + 線性迴歸 : 有些為改善
train_X = MMEncoder.fit_transform(df)
cross_val_score(estimator, train_X, train_Y, cv=5).mean()

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.7038635542329971

In [27]:
# 新特徵 + 梯度提升樹
train_X = MMEncoder.fit_transform(df)
cross_val_score(estimator, train_X, train_Y, cv=5).mean()

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.7038635542329971

In [28]:
# 新特徵 + 線性迴歸 : 有些為改善
train_X = MMEncoder.fit_transform(df)
cross_val_score(estimator, train_X, train_Y, cv=5).mean()

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.7038635542329971